{% include "nomad.hcl.j2" %}

client {
  enabled = true

  server_join {
    retry_join = [<RETRY_JOIN>]
  }
}

{% if nomad_mtls_enabled  %}
tls {
  http = true
  rpc  = true

  verify_https_client    = true
  verify_server_hostname = true

  ca_file   = "/etc/nomad.d/certs/nomad-ca.pem"
  cert_file = "/etc/nomad.d/certs/client.pem"
  key_file  = "/etc/nomad.d/certs/client-key.pem"
}
{% endif %}
