data_dir  = "/opt/nomad/data"
bind_addr = "0.0.0.0" # the default

region     = "<REGION>"
datacenter = "<DATACENTER>"

acl {
  enabled = {{ nomad_acl_enabled_str }}
}

telemetry {
  disable_hostname   = true
  prometheus_metrics = true
}
