{% include "nomad.hcl.j2" %}

server {
  enabled          = true
  bootstrap_expect = <BOOTSTRAP_EXPECT>

  server_join {
    retry_join = [<RETRY_JOIN>]
  }
}

{% if nomad_mtls_enabled  %}
tls {
  http = true
  rpc  = true

  verify_https_client    = true
  verify_server_hostname = true

  ca_file   = "/etc/nomad.d/certs/nomad-ca.pem"
  cert_file = "/etc/nomad.d/certs/server.pem"
  key_file  = "/etc/nomad.d/certs/server-key.pem"
}
{% endif %}
